[submodule "social_user_auth"]
	path = social_user_auth
	url = git@github.com:shoumitro-cse/social_user_auth.git
	branch = main
[submodule "social_messanger"]
	path = social_messanger
	url = git@github.com:shoumitro-cse/social_messanger.git
	branch = main
[submodule "social_notification"]
	path = social_notification
	url = git@github.com:shoumitro-cse/social_notification.git
	branch = main
